
<td>
						<ul>
							<li><span class="PCap CharOverride-4">Contrôles</span> <span class="PCap CharOverride-4">Testes</span></li>
							<li>Évaluation finale</li>
							<li>Passage en 2<span style="vertical-align:4px;font-size:83%">ème</span> année en cas d'obtention d'une moyenne générale de 10/20</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Contrôles continus</li>
							<li><span class="PCap CharOverride-4">Évaluation</span> finale</li>
							<li>Soutenance de mémoire</li>
							<li>Brevet de Technicien Supérieur en cas d'obtention d'une moyenne générale 10/20</li>
						</ul>